body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size:inherit;
    background-image: url(./assets/img/paises.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

