.cardsDisplay {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    overflow-y: scroll;
    top: 11%;
    left: 22%;
    width: 78%;
    height: 88%;
    padding-top: 40px;
}
.cardsDisplay::-webkit-scrollbar {
    background-color: gray;
    width: 15px;
}

.cardsDisplay::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: royalblue;
    border-radius: 5px;
}

.cardsDisplay::-webkit-scrollbar-button {
    height: 10px;
    background-image: url(../../assets/img/scroll-buttom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 90%; */
}